<footer class="footer">
    <!-- <p>&copy; {{ site.username }}</p> -->
    <p>Neurocyte Biosystems (2024)</p>
</footer>
<script src="{{ '/assets/js/particles.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/vendor/jquery-2.2.4.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/popper.min.js' | prepend: site.baseurl }}"></script>
<!--<script src="{{ '/assets/js/vendor/bootstrap.min.js' | prepend: site.baseurl }}"></script>-->
<script src="{{ '/assets/js/vendor/jquery.vide.min.js' | prepend: site.baseurl }}"></script>
<script src="//maps.googleapis.com/maps/api/js?key={{ site.map.key }}"></script>
<script src="{{ '/assets/js/easing.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/superfish.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/jquery.ajaxchimp.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/owl.carousel.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/contact-script.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main 2.js' | prepend: site.baseurl }}"></script>